<p>The Data Assimilation tab allows the estimation of the data assimilation
  scheme for any of the estimated models.</p>
<p>The sidebar allows the selection of the multiple models which are estimated
  on pressing <i>Estimate Data Assimilation</i>. This may take some time. A
  message is displayed until estimation is completed.</p>
<p> A number of plots summarising the forecast performance can be generated. Two the <i>hydrograph</i>
  and <i>Thresholded RMSE</i> plots are as presented for the model estimation,
  except that they can be plotted for multiple models and lead times.
</p>
<p>The <i>Error Bars</i> plot shows for a selected models and lead times the
  uncertainty about a forecast of a given value, summarised by quantiles,
  along with the calibration (or validation) data.</p>
<p>The <i>Movie plot</i> allows an animation of the forecasts over a selected time window to be
displayed. This allows visualisation of the forecasts as they would be seen by an end user except that
where the subsequently observed values of the output are known they are plotted.
</p>
