<p>The Import Data tab allows data to be loaded into ModelBuild, as well
  as providing a basic visualisation.</p>
<p>Clicking the <i>Browse</i> button opens a
  file browser for selection of the file to be loaded. Two file types
  are acceptable. Files of the type *.rds are presumed to be results
  previously saved from ModelBuild and are loaded accordingly. All
  other file types are treated as delimited files of the Observe data
  type outlined in the Manual. Remember to choose the
  correct delimiter from the options given.</p>
<p>Once a file has been successfully loaded <i>Select Variables</i> can be
  used to select variables for plotting. Ticking <i>Scale Plot</i> scales each
  of the variables plotted so that it’s maximum is 1 and
  minimum 0. This can be useful for plotting variables on different
  scales (e.g. rainfall and discharge).</p>
<p><b>Loading new data will automatically clear any current results</b></p>  
