<p>The <i>Combine Data</i> tab allows data series to be combined to give a new
  series.</p>
<p>On pressing the <i>Make New Variable</i> button the variables are combined
  by summation using the weights specified by the user which are
  standardised so they sum to 1. Negative and zero weights are ignored.</p>
<p>A new variable name must be specified</p>
