<p>Three outputs can
  be saved from ModelBuild. The <i>Save</i> button allows you to save 
  the current session of ModelBuild which
  includes the data used and models estimated. This can be reloaded
  into ModelBuild to continue the analysis.</p>
<p>For the selected model the <i>Save Model</i> and <i>Save Forecast</i>
  buttons save the model (in the appropriate format for use in real time 
  forecasting) and forecast results repectively.
</p>
