<p>The Select Data tab is used to specify the data series used in
  constructing the model.</p>
<p> Calibration and Validation time periods can be
  specified. The two
  periods can overlap (though this is not recommended) and they do not
  need to be concurrent. As data series are selected they will be
  plotted to show the calibration and validation
  periods.</p>
<p><b>Pressing the <i>Set
      Calibration Data</i> button sets the selected values for use in
    future model estimations. If models have already been estimated and
    these values do not match those used the model estimates are deleted.</b></p>
