<p>Having loaded the
  data and selected which data series to use for to build the model the
  <i>Estimate model </i> tab allows the estimation of the forecasting 
  models, without the application of data assimilation. Full details of the
  terminology used in this section to describe the model can be found
  in the manual.</p>
<p>The range of models, determined by the number of parrallel pathways, time
  delay and non-linearity, over which to search can be specified.
  The <i>minimum level</i> representing baseflow can be selected. This is
  useful if there is an approximately constant output that cannot be
  attributed to short term input response.</p>
<p>On pressing the
  <i>Estimate Models</i> button all the models in the ranges selected
  are estimated. This may take some time. A progress bar is shown. 
</p>

<p><i>Select summary</i> offers a number of plots to guide the model selections
:</p>
<ul>
  <li>The <i>Minima</i> plot helps in the selection of the minima.</li>
  <li><i>Tabular</i> shows a sortable table of model performance for the
    calibration can validation period. In general, and subject to visual inspection of
    the results models with higher Rt2, AIC and BIC along with lower MAE and YIC during
    calibration are to be preferred. Note that the YIC is on a log scale
    and is generally negative.
    The Rt2 and MAE are also shown for the validation period allowing a
    simple split sample comparison to avoid over fitting of the data.</li>
  <li>The <i>hydrograph</i> plot allows the visual inspection of the model
    hydrographs. By
    selecting multiple models in the list provided models
    can be compared. </li>
  <li>The <i>Thresholded RMSE</i> summarises the
    RMSE of the model fit on the time steps at which the observed output
    is greater than the specified threshold.</li>
  <li>The <i>Parameters</i> option shows the model parameters, an estimate of
    their uncertainty and the value of various summaries of the model
    that can be derived from the parameters.</li>
</ul>
